---
layout: default
---

<main id="scroll" class="home" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
    {% for post in paginator.posts %}
    <article role="article" class="post-item" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
        <a class="datetime" href="{{ post.url | prepend: site.baseurl }}">
            <meta itemprop="datePublished" content="{{post.date}}">
            <time datetime="{{ post.date | date_to_xmlschema }}">
                <span class="day">
                    {{ post.date | date: "%d" }}
                </span>
                <span class="month-year">
                    {{ post.date | date: "%B %Y" }}
                </span>
            </time>
        </a>
        <div class="content">
            <a href="{{ post.url | prepend: site.baseurl }}"><h2 class="post-title" itemprop="name">{{ post.title }}</h2></a>
            <p class="description">
                {{ post.content | strip_html | truncatewords:40 }}
                <a href="{{ post.url | prepend: site.baseurl }}" class="link">Post completo</a>
            </p>

            <div class="tags">
                {% for tag in post.tags %}
                <a href="{{ site.baseurl }}/tags/#{{tag | slugify }}">{{ tag }}</a>
                {% endfor %}
            </div>
        </div>
    </article>
    {% endfor %}
</main>

<style>
ul.pagination {
    display: inline-block;
    padding: 0;
    margin: 0;
}

ul.pagination li {display: inline;}

ul.pagination li a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    font-size: 21px;
}

ul.pagination li a.active {
    background-color: #548B54;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}

.wrapper {
  height: 100%;
  min-height: 100%;

  /* habilita o flex nos filhos diretos */
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;

  /* centraliza na vertical */
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;

  /* centraliza na horizontal */
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.wrapper div {
  padding: 40px;
}


</style>

<div class="wrapper">
<div>
{% if paginator.total_pages > 1 %}
<ul class="pagination">
  {% if paginator.previous_page %}
    <li><a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">«</a></li>
  {% endif %}
    <li><a class="active"> {{ paginator.page }} </a></li>
  {% if paginator.next_page %}
    <li><a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">»</a></li>
  {% endif %}
</ul>
{% endif %}
</div>
</div>

